# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python

MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

.DS_Store
.idea/